<div class="min-h-screen bg-gray-100 pb-32">
  <div class="bg-primary-900">
    <app-header></app-header>
  </div>

  <div class="container md:mx-auto md:px-0 px-[20px]" *ngIf="!loading; else loadingTpl">
    <div class="my-4">
      <form nz-form [formGroup]="validateForm">
        <nz-form-item class="mb-0">
          <nz-form-control>
            <nz-input-group nzSearch nzSize="large" class="rounded focus:shadow-xl active:shadow-xl "
                            [nzPrefix]="prefixIcon">
              <input class="text-[#52606D] text-input" formControlName="searchKey"
                     placeholder="Search collection" nz-input/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
    <div class="mb-4">
      <div class="flex gap-4 items-center">
        <div class="text-docs-title">
          Filter By
        </div>
        <div class="grow flex gap-4">
          <div *ngFor="let category of apiCategoryList" class="flex gap-1">
            <button *ngIf="filterCategory.indexOf(category.id) !== -1 && category.api_collections.length > 0" nz-button
                    nzType="primary"
                    nzShape="round" (click)="removeFilter(category.id)">
              <div class="flex items-center gap-1">
                <div class="text-sm material-icons-outlined">close</div>
                <div class="text-sm">{{category.category_name}}</div>
              </div>
            </button>
            <button *ngIf="filterCategory.indexOf(category.id) === -1 && category.api_collections.length > 0" nz-button
                    nzShape="round"
                    (click)="addFilter(category.id)" class="text-sm">{{category.category_name}}</button>
          </div>
        </div>

        <div>
          <button nz-button nzType="primary" class="rounded" (click)="openCreateNewCategoryModal()">
            <div class="flex items-center gap-1">
              <div class="text-sm">Create New Category</div>
            </div>
          </button>
        </div>

      </div>
    </div>
    <div *ngFor="let category of filteredApiCategoryList; let j = index">
      <div class="border-t border-b-0 border-solid border-x-0 pb-[24px] border-gray-600"
           *ngIf="category.api_collections.length > 0 ">
        <div class="flex items-center my-[24px] gap-4">
          <div>
            <nz-avatar class="border border-solid border-gray-900" nzIcon="user" nzSrc="{{url[j % 3]}}"></nz-avatar>
          </div>
          <div class="text-doc-title">{{category.category_name}}</div>
        </div>
        <div class="grid grid-cols-3 gap-4">
          <nz-card (click)="openCreateNewCollectionModal(category.id)"
            class="flex rounded-3xl items-center justify-center border-dotted border-2 border-[#59C3FF] cursor-pointer">
            <div class="flex items-center">
              <div class="material-icons-outlined text-[#59C3FF]">
                add
              </div>
              <div class="text-[#59C3FF]">Add New Collection</div>
            </div>
          </nz-card>
          <div class="rounded-3xl pl-4 {{ randomColorsArray[i % 10]}}"
               *ngFor="let apiCollection of category.api_collections ; let i = index ">
            <nz-card class="rounded-r-[1.3rem] border-2">
              <div class="flex justify-between">
                <div class="flex gap-x-4">
                  <div class="font-bold text-subtitle">{{apiCollection.api_collection_name}}</div>
                </div>
                <div class="justify-end">
                  <!--<button nz-tooltip
                          nzTooltipTitle="open" nzTooltipPlacement="left" [nzTooltipMouseEnterDelay]="0.75"
                          class="bg-blue-600 p-2 border-0 text-white rounded text-button material-icons-outlined cursor-pointer">
                    edit
                  </button>-->
                  <span nz-tooltip
                        nzTooltipTitle="Edit" nzTooltipPlacement="left" [nzTooltipMouseEnterDelay]="0.75"
                        class="text-blue-600  material-icons-outlined cursor-pointer">
                  edit
                </span>
                </div>
              </div>
              <div class="text-sm  min-h-[75px]">{{apiCollection.short_description}}</div>
              <nz-divider></nz-divider>
              <div class="flex justify-between">
                <div>
                  <span>Created </span>
                  <span class="font-bold">{{apiCollection.createdAt | date: 'MMM d, y'}}</span>
                </div>
                <div class="justify-end">{{apiCollection.count}} Endpoints</div>
              </div>
            </nz-card>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<ng-template #prefixIcon>
  <span class=" text-[#52606D] material-icons-outlined text-input">search</span>
</ng-template>

<ng-template #loadingTpl>
  <nz-skeleton></nz-skeleton>
</ng-template>

<nz-modal [(nzVisible)]="createNewCategoryModalVisibility" (nzOnCancel)="closeCreateNewCategoryModal()">
  <div *nzModalTitle>
    <div>Create New Category</div>
  </div>
  <div *nzModalContent>
    <div>
      <form [formGroup]="createNewCategoryForm" nz-form>

        <!--Category Name-->
        <div class="font-bold text-label">Category Name</div>
        <div class="">
          <nz-form-item class="grid">
            <nz-form-control nzErrorTip="Please input category Name!">
              <input class="rounded bg-[#D9D9D9] text-input" formControlName="category_name"
                     nz-input/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <!--Img Url-->
        <div class="mt-4 font-bold text-label">Img Url</div>
        <div class="">
          <nz-form-item class="grid">
            <nz-form-control nzErrorTip="Please input Image Url!">
              <input class="rounded bg-[#D9D9D9] text-input" formControlName="image_url"
                     nz-input/>
            </nz-form-control>
          </nz-form-item>
        </div>

      </form>
    </div>
  </div>
  <div *nzModalFooter>
    <div>
      <button class="bg-primary-900 text-white px-[32px]rounded text-button font-bold min-w-[100px]"
              (click)="createNewApiCategory()" nz-button>Create
      </button>
      <button class="bg-primary-900 text-white px-[32px]rounded text-button font-bold min-w-[100px]"
              (click)="closeCreateNewCategoryModal()" nz-button>Cancel
      </button>
    </div>
  </div>
</nz-modal>


<nz-modal [(nzVisible)]="createNewCollectionModalVisibility" (nzOnCancel)="closeCreateNewCollectionModal()">
  <div *nzModalTitle>
    <div>Create New Collection</div>
  </div>
  <div *nzModalContent>
    <div>
      <form [formGroup]="createNewCollectionForm" nz-form>

        <!--collection Name-->
        <div class="font-bold text-label">API Collection Name</div>
        <div class="">
          <nz-form-item class="grid">
            <nz-form-control nzErrorTip="Please input API Collection!">
              <input class="rounded bg-[#D9D9D9] text-input" formControlName="api_collection_name"
                     nz-input/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <!--Short description-->
        <div class="mt-4 font-bold text-label">Short Description</div>
        <div class="">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input short description!">
              <div class="">
                <textarea rows="4" nz-input class="rounded bg-[#D9D9D9]" formControlName="short_description"></textarea>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>

        <!--Long description-->
        <div class="mt-4 font-bold text-label">Long Description</div>
        <div class="">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input long description!">
              <div class="">
                <textarea rows="4" nz-input class="rounded bg-[#D9D9D9]" formControlName="long_description"></textarea>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>

      </form>
    </div>
  </div>
  <div *nzModalFooter>
    <div>
      <button class="bg-primary-900 text-white px-[32px]rounded text-button font-bold min-w-[100px]"
              (click)="createNewCollection()" nz-button>Create
      </button>
      <button class="bg-primary-900 text-white px-[32px]rounded text-button font-bold min-w-[100px]"
              (click)="closeCreateNewCollectionModal()" nz-button>Cancel
      </button>
    </div>
  </div>
</nz-modal>
